<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UslessGG - Home</title>
    <link rel="stylesheet" href="/css/style.css"> </head>
<body>
<div class="main-container">
    <div class="text-container">
<h1>UslessGG find how usless you are!</h1>
<p>Enter a Summoner Name with #tagline:</p>
    </div>
    <form action="/search-summoner" method="get" class="search-form">
    <input type="text" name="gameName" placeholder="Game Name" class="input-field" required>
    <input type="text" name="tagLine" placeholder="Tag Line" class="input-field" required>
    <button type="submit" class="submit-button">Search</button>
</form>
    <p th:if="${message}" th:text="${message}"></p>
    <p th:if="${summoner}" th:text="${summoner.toString()}"></p>
    <p th:if="${history}" th:text="${history}"></p>
    <p th:if="${entries}" th:text="${entries[0]}"></p>
    <div class="summoner-info">
    <h2>Summoner info</h2>

</div>
<footer>
    <p>&copy; 2025 Kotwica & Riot Games</p>
</footer>
</div>
</body>
</html>